<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trabajo</title>
    <link rel="stylesheet" href="./../css/estilo2.css">
</head>
<body>
    <header>
        <img class=img8 src="./../img/logo-celima-trebol-x2-14.04.22-1.png" alt="imagen8" width="1040" height="120">
    </header>
    <nav>
        <a href="./../index.html">INICIO</a>
    </nav>
    
    <main>
        <h2>UBICACIÒN DEL TRABAJO</h2>
        <p>DIRECION:PUNTA HERMOSA</p>
        <p>NUMERO:96271697</p>
        <p>ABIERTO LAS 24 HORAS</p>
    </main>
    <div>
        <img class=img7 src="./../img/imagen2.png" alt="imagen7" width="1080" height="1888">
    </div>
    <footer>
        <p>&copy; Todos los derechos reservados</p>
    </footer>

</body>
</html> 