<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trabajo</title>
    <link rel="stylesheet" href="./../css/estilo1.css">
</head>
<body>
    <a href="./../index.html">INICIO</a>
    <h1>FOTOS DE VENTAS</h1>
    <main>
        <div class="imag">
            <img src="./../img/beton.jpg" alt="imagen" width="200" height="200">
        </div>
        <div>
            <img src="./../img/ceramico.jpg" alt="imagen1" width="200" height="200">
        </div>
        <div>
            <img src="./../img/inodoro.png" alt="imagen2" width="200" height="200">
        </div>
        <div>
            <img src="./../img/lavatorio.jpg" alt="imagen3" width="200" height="200">
        </div>
        <div>
            <img src="./../img/repuesto.jpg" alt="imagen4" width="200" height="200">
        </div>
        <div>
            <img src="./../img/respuesto1.jpg" alt="imagen5" width="200" height="200">
        </div>

    </main>
    
</body>
</html>