<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Formulario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./../css/estilo3.css">
    </head>
    <body>
        <a href="./../index.html">INICIO</a>
        <section class="form-register">
            <h1>FORMULARIO DE REGISTRO</h1>
            <form action="enviar.php" method="get">
                <fieldset>
                    <legend>Datos personales</legend>
                    <label for="nombre">Nombre</label><br>
                    <input type="text" name="nombre" id="nombre" placeholder="Escriba su nombre"><br>

                    <label for="email">Email</label><br>
                    <input type="text" name="email" id="email" placeholder="Escriba su correo"><br>

                    <label for="telefono">Telèfono</label><br>
                    <input type="tel" name="telefono" id="telefono" placeholder="Escriba su telefono"><br>
                    
                    <label for="comentario">solicite mas infomacion</label><br>
                    <textarea name="infomacion" id="comentario" cols="35" rows="10"></textarea><br>

                </fieldset>
                
                <p>Estoy de Acuerdo Con <a href="./terminosyc.html">Terminos y condiciones</a></p>
                <input class="botons" type="submit" value="Registrar">
                <p><a href="#">¿Ya Tengo Cuenta?</a></p>
            </form>
        </section>
   
    </body>
</html> 